<div class="inline-form">
    <div class="card-login card-edit">
        <div class="card-item" style="width: auto;">
            <span>
                <div class="header-modal">
                    <div class="login-icon">
                        <img src="../assets/imgs/bairrista.svg" />
                    </div>
                    <div class="title">
                        <h3>Meus rendimentos</h3>
                    </div>
                </div>
                <div class="inputs-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 col-md-12">
                                <canvas id="barChart" width="400" height="400"></canvas>
                            </div>
                            <div class="col-md-6 col-md-12">
                                <canvas id="lineChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-footer" (click)="fechar()">
                    <h2>fechar</h2>
                </div>
            </span>
        </div>
    </div>
</div>