.row {
    display: block !important;
}

.btAtualizar input[type="button"] {
    border-radius: 30px;
    font-weight: normal;
    font-size: 16px;
    padding: 10px 60px;
    float: right;
    top: 0;
    right: 0;
    background: #6054b0;
}

.rejected {
    border: 1px solid red !important;
}

.approved {
    border: 1px solid #28a745 !important;
}

.login-icon{
margin: 0 10px;
}

.login-icon > img{

}
.header-modal{
    display: inline-flex;
    width: 100%;
    padding: 0 10px;
}

.btn-footer{
    cursor: pointer;
}
.btn-footer > h2{
    background: #c91c1c;
    /* width: auto; */
    color: #fff;
    padding: 10px;
    /* width: 100%; */
    font-size: 20px;
    line-height: inherit;
    border-radius: 10px;
    text-align: center;
}