<div class="card-login card-edit">
    <div class="header-modal">
        <div class="login-icon">
            <img src="../assets/imgs/bairrista.svg" />
        </div>
        <div class="title">
            <h3>Meus rendimentos</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-yellow f-w-600">{{totalAvaliacoes_}}</h4>
                            <h6 class="text-muted m-b-0 txt-indicador">Avaliações recebidas</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-bar-chart f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-yellow">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0 txt-indicador"></p>
                        </div>
                        <div class="col-3 text-right">
                            <i class="feather icon-trending-up text-white f-16"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-green f-w-600">{{totalAvaliacoesFeitas_}}</h4>
                            <h6 class="text-muted m-b-0 txt-indicador">Avaliações feitas</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-file-text f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">
                            <i class="feather icon-trending-up text-white f-16"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-pink f-w-600">{{trabalhosRecusados}}</h4>
                            <h6 class="text-muted m-b-0 txt-indicador">Trabalhos recusados</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">
                            <i class="feather icon-trending-up text-white f-16"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-blue f-w-600">{{trabalhosAceitos}}</h4>
                            <h6 class="text-muted m-b-0 txt-indicador">Trabalhos Pendentes</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-download f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">
                            <i class="feather icon-trending-up text-white f-16"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Orçamentos solicitados</h5>
                </div>
                <div class="card-block">
                    <div id="visitor" style="height: 300px; overflow: hidden; text-align: left;">
                        <div class="amcharts-main-div" style="position: relative; width: 100%; height: 100%;">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-xl-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Orçamentos recebidos</h5>
                </div>
                <div class="card-block">
                    <div id="visitor" style="height: 300px; overflow: hidden; text-align: left;">
                        <div class="amcharts-main-div" style="position: relative; width: 100%; height: 100%;">
                            <canvas id="barChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="btn-footer" (click)="fechar()">
        <h2>fechar</h2>
    </div>
</div>

<!-- <div class="card-login card-edit">
    <div class="card-item" style="width: auto;">
        <span>
            <div class="header-modal">
                <div class="login-icon">
                    <img src="../assets/imgs/bairrista.svg" />
                </div>
                <div class="title">
                    <h3>Meus rendimentos</h3>
                </div>
            </div>
            <div class="inputs-card">
                <div class="card-chart">
                    <canvas id="barChart" height="400px"></canvas>
                </div>
                <div class="card-chart">
                    <canvas id="barChart2" height="400px"></canvas>
                </div>
                <div class="card-chart h-chart">
                    <h1>Total de Avaliações recebidas</h1>
                    <div class="indicador">
                        <p>{{totalAvaliacoes_}}</p>
                    </div>
                </div>
                <div class="card-chart h-chart">
                    <h1>Total de Avaliações feitas </h1>
                    <div class="indicador">
                        <p>{{totalAvaliacoes_}}</p>
                    </div>
                </div>
                <div class="card-chart">

                </div>
            </div>
            <div class="btn-footer" (click)="fechar()">
                <h2>fechar</h2>
            </div>
        </span>
    </div>
</div> -->