
<section class="user-login section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block">
          <!-- Image -->
          <div class="image align-self-center bg-login" [style.background-image]="'linear-gradient(rgb(235 1 165 / 15%), rgb(209, 53, 49)),url(../assets/images/Login/bg3.jpg) '">
            <!-- <img class="img-fluid" src="../assets/images/Login/sign-up.jpg"
              alt="desk-image"> -->
          </div>
          <!-- Content -->
          <div class="content text-center">
            <div class="logo">
              <a [routerLink]="'/index'"><img src="../assets/images/logo_b.png" alt=""></a>
            </div>
            <div class="title-text">
              <h3>Cadastre e faça parte desse grande bairro.</h3>
            </div>
            <form action="#">
              <div *ngIf="step == 1">
                <mat-form-field appearance="outline">
                  <mat-label>Nome</mat-label>
                  <input matInput placeholder="Nome" id="nome001" name="nome001" [(ngModel)]="register.nome"
                    [ngModelOptions]="{standalone: true}" (keypress)="countLettersChange($event)">
                </mat-form-field>
                <div class="input-item">
                  <p [ngClass]="{'show-erro-input-text': nomeErro }">Por favor, insira o seu nome.</p>
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>Sobrenome</mat-label>
                  <input matInput placeholder="Sobrenome" id="sobrenome001" name="sobrenome001"
                    [(ngModel)]="register.sobrenome" [ngModelOptions]="{standalone: true}"
                    (keypress)="countLettersChange($event)">
                </mat-form-field>
                <div class="input-item">
                  <p [ngClass]="{'show-erro-input-text': sobrenomeErro }">Por favor, insira o seu
                    sobrenome.</p>
                </div>
              </div>

              <div *ngIf="step == 2">
                <mat-form-field appearance="outline">
                  <mat-label>CPF</mat-label>
                  <input matInput placeholder="CPF" id="cpf0001" name="cpf0001" [(ngModel)]="register.cpf"
                    (ngModelChange)="validarCPF(register.cpf)" [ngModelOptions]="{standalone: true}" mask="00000000000"
                    [dropSpecialCharacters]="true" [showMaskTyped]="false">
                </mat-form-field>
                <div class="input-item" *ngIf="!cpfInvalid">
                  <p [ngClass]="{'show-erro-input-text': !cpfInvalid }">Cpf inválido</p>
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="E-mail" id="email001" name="email001" [(ngModel)]="register.email"
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <div class="input-item" *ngIf="emailErro">
                  <p [ngClass]="{'show-erro-input-text': emailErro }">{{alertEmail}}</p>
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>Telefone</mat-label>
                  <input matInput placeholder="Telefone" id="telefone001" name="telefone001"
                    [(ngModel)]="register.telefone" [ngModelOptions]="{standalone: true}" mask="(00) 0 0000-0000"
                    [dropSpecialCharacters]="true" [showMaskTyped]="false">
                </mat-form-field>
                <div class="input-item" *ngIf="telefoneError">
                  <p [ngClass]="{'show-erro-input-text': telefoneError }">Telefone inválido</p>
                </div>
              </div>

              <div *ngIf="step == 3">
                <mat-form-field appearance="outline">
                  <mat-label>Profissão</mat-label>
                  <input matInput [matAutocomplete]="auto" name="profissao" #profissaoField="ngModel"
                    [(ngModel)]="register.profissao" (ngModelChange)="doFilter()">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let p of listaProfissaoFilter" [value]="p.nome">
                      {{p.nome}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div class="input-item" *ngIf="profissaoErro">
                  <p [ngClass]="{'show-erro-input-text': profissaoErro }">Selecione uma profissão</p>
                </div>
                <span class="register-footer">
                  <h2> <span (click)="step = step+1">Cadastrar depois.</span></h2>
                </span>
              </div>

              <div *ngIf="step == 4">
                <mat-form-field appearance="outline">
                  <mat-label>Senha</mat-label>
                  <input matInput placeholder="Senha" id="senha001" name="senha001"
                    [type]="seePass ? 'text' : 'password'" [(ngModel)]="register.senha"
                    [ngModelOptions]="{standalone: true}">
                  <button mat-icon-button matSuffix (click)="seePass = !seePass" [attr.aria-label]="'esconder senha'"
                    [attr.aria-pressed]="seePass">
                    <i class="ti-eye"></i>
                  </button>
                  <div *ngIf="capsLock" class="caps-lock">
                    <p>Caps lock ativado</p>
                  </div>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Confirmar senha</mat-label>
                  <input matInput placeholder="Confirmar senha" id="confirmPassword001" name="confirmPassword001"
                    type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
                  <div *ngIf="capsLock2" class="caps-lock">
                    <p>Caps lock ativado</p>
                  </div>
                </mat-form-field>
                <div class="input-item" *ngIf="senhaErro">
                  <p [ngClass]="{'show-erro-input-text': senhaErro }">{{alertSenha}}
                  </p>
                </div>
              </div>

              <!-- Submit Button -->
              <button class="btn btn-main-md" (click)="nextStep()">Avançar</button>
            </form>
            <div class="new-acount">
              <p>Já possui uma conta? <a [routerLink]="'/login'">Entrar</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ff-alerts></ff-alerts>