<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="../assets/images/logo_b.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home
                        <span><i class="ti-angle-down"></i></span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" href="index.html">Homepage</a></li>
                        <li><a class="dropdown-item" href="homepage-2.html">Homepage 2</a></li>
                        <li><a class="dropdown-item active3" href="homepage-3.html">Homepage 3</a></li>

                        <li class="dropdown dropdown-submenu dropright">
                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                            <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                                <li><a class="dropdown-item" href="index.html">Submenu 11</a></li>
                                <li><a class="dropdown-item" href="index.html">Submenu 12</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown @@pages">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages
                        <span><i class="ti-angle-down"></i></span>
                    </a>                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item @@team" href="team.html">Team</a></li>
                        <li><a class="dropdown-item @@career" href="career.html">Career</a></li>
                        <li><a class="dropdown-item @@blog" href="blog.html">Blog</a></li>
                        <li><a class="dropdown-item @@blogSingle" href="blog-single.html">Blog Single</a></li>
                        <li><a class="dropdown-item @@privacy" href="privacy-policy.html">Privacy</a></li>
                        <li><a class="dropdown-item @@faq" href="FAQ.html">FAQ</a></li>
                        <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>
                        <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                        <li><a class="dropdown-item" href="404.html">404</a></li>
                        <li><a class="dropdown-item" href="comming-soon.html">Coming Soon</a></li>

                        <li class="dropdown dropdown-submenu dropleft">
                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                            <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                <li><a class="dropdown-item" href="index.html">Submenu 21</a></li>
                                <li><a class="dropdown-item" href="index.html">Submenu 22</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item @@about">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item @@contact">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

<!--====================================
  =            Hero Section            =
  =====================================-->
<section class="section gradient-banner">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                <h1 class="text-white font-weight-bold mb-4">Bairrista, aproximando profissionais e serviços</h1>
                <p class="text-white mb-5">Com o Bairrista você encontra o serviço ou profissional mais perto de você.
                </p>
                <a [routerLink]="'/login'" class="btn btn-main-md">Acesse agora</a>
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <img class="img-fluid" src="../assets/images/template.png" alt="screenshot">
            </div>
        </div>
    </div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-pin text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Praticidade</h3>
                    <p class="regular text-muted">Nosso sistema foi pensado na facilidade de qualquer usuário utilizar.
                        Acesse de qualquer dispositivo.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-support text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Profissionais</h3>
                    <p class="regular text-muted">Profissionais diversos esperando para analisar seu orçamento.</p>
                </div>
                <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
                    <i class="ti-receipt text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Orçamento</h3>
                    <p class="regular text-muted">Orçamentos fáceis feitos com poucos cliques.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==================================
  =            Feature Grid            =
  ===================================-->
<section class="feature section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                <div class="image-content">
                    <img class="img-fluid" src="../assets/images/feature.png">
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>O que pensamos sobre o <a
                            href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Bairrista</a>
                    </h2>
                    <!-- Feature Description -->
                    <p class="desc">Procurar ou prestar serviços dentro do seu proprio bairro pode ser uma atividade
                        difícil quando não se tem a visibilidade correta de seus serviços, com intuíto de dar
                        visibilidade a esses profisisonais de bairros surgiu o Bairrista.</p>
                </div>
                <!-- Testimonial Quote -->
                <div class="testimonial">
                    <p>
                        "O Bairrista veio para trazer praticidade em achar profissionais perto da sua casa, ajuda
                        bastante a quem procura serviços rápidos."
                    </p>
                    <ul class="list-inline meta">
                        <li class="list-inline-item">
                            <img src="../assets/images/testimonial/feature-testimonial-thumb.jpg" alt="">
                        </li>
                        <li class="list-inline-item">Jonathas Fiscina.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="call-to-action-app section bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>É a hora de dar visibilidade ao seu serviço.</h2>
                <p>Cadastre-se e venha fazer parte desse grande bairro. Acesse <a [routerLink]="'/login'">
                        Bairrista</a>
                </p>
                <p>
                    Disponível para:
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="" class="btn btn-rounded-icon">
                            <i class="ti-apple"></i>
                            Iphone
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-rounded-icon">
                            <i class="ti-android"></i>
                            Android
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-rounded-icon">
                            <i class="ti-microsoft-alt"></i>
                            Windows
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 m-md-auto align-self-center">
                    <div class="block">
                        <a [routerLink]="'/'"><img src="../assets/images/logo_b.png" alt="footer-logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>